# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/

# production
build/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# local env files
.env
.env*.local

# credentials
SUPABASE_CREDENTIALS.txt

# prisma
prisma/dev.db
prisma/dev.db-journal

# uploads
public/uploads/*
!public/uploads/.gitkeep

# typescript
*.tsbuildinfo
next-env.d.ts
